@{
    ViewData["Title"] = "Dashboard";
}
<div class="row">
    <div class="col-md-12">
        <h1> Welcome to the Wedding Planner</h1>
    </div>
</div>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th class="text-center">Wedding</th>
            <th class="text-center">Date</th>
            <th class="text-center">Guest</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <tbody> 
        @{
            foreach(var item in @ViewBag.Weddings) {
                <form action="rsvp" method="POST">
                <tr>
                        <td><a href="guestlist/@item.WeddingID" class="wedders">@item.Wedder1 & @item.Wedder2</a></td>
                        <td>@item.WeddingDate.ToString("MMM dd, yyyy hh:mm tt")</td>
                        <td>@item.GuestLists.Count</td>
                        <input type="hidden" value="@item.WeddingID" name="WeddingID">
                        @if(@ViewBag.CurrentUser == item.CreatorID) {
                            <td><input type="submit" value="Delete" class="btn-link" name="rsvpAction"></td>
                        } else if(@item.GuestLists.Count == 0) {
                            <td><input type="submit" value="RSVP" class="btn-link" name="rsvpAction"></td>
                        } else {
                            bool userIn = false;
                            foreach(var aa in item.GuestLists) {
                                if(@ViewBag.CurrentUser == aa.WeddingAttendeeID) {
                                    <td><input type="submit" value="Un-RSVP" class="btn-link" name="rsvpAction"></td>
                                    userIn = true;
                                    break;
                                }
                            }
                            if(!userIn){
                                <td><input type="submit" value="RSVP" class="btn-link" name="rsvpAction"></td>   
                            }
                        }
            </tr>
                </form>
            }
        }
    </tbody>
</table>

<div>
    @{
        <span>@ViewBag.Error </span>
    }
    </div>
<button class="btn btn-info"><a href="Plan">New Wedding</a></button>