@{
    ViewData["Title"] = "Contact";
}
@{
<div class="row">
    <div class="col-md-12">
    @foreach(var item in @ViewBag.Wedders){
        <h1>@item.Wedder1 and @item.Wedder2's Wedding</h1>
        <h2>Date : @item.WeddingDate.ToString("MMM dd, yyyy hh:mm tt")</h2>
    }
    </div>
</div>
    <h2>Guests: </h2>
    @foreach(var item in @ViewBag.ThisWedding){
        <p>@item.WeddingAttendee.FirstName @item.WeddingAttendee.LastName </p>
    }
}

<h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
    function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: uluru
        });
        var marker = new google.maps.Marker({
        position: uluru,
        map: map
        });
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkxMvZ3Vt6_1-RZ4VS9M9TJNroeLE-yF0
&callback=initMap">
    </script>